<div class="container" ng-controller="landingController">

    <div class="row col-lg-12 text-center v-center">

        <h1>Tim Vs Machine</h1>
        <p class="lead">Can Tim beat the Trolley?</p>

        <br>

        <!--<a href="#/results/2015" class="btn btn-md btn-warning">2015 Challenge</a>-->
        <a href="#!/results/2016" class="btn btn-md btn-warning">Current Challenge</a>
    </div>

    <div class="row col-lg-6 col-lg-offset-3 text-center v-center lead">
        Last year I ran the Man Vs. Machine challenge in the Human Race in Fort Collins CO.  I finished 65th
        overall with a time of 23:50.  While this was a great time I was not fast enough to beat the Trolley.
    </div>
</div>
