<div class="container" ng-controller="outcomeController">

    <common-header>
        <h2>Add Outcome</h2>
    </common-header>

    <common-panel>
        <form name="betForm" ng-submit="submitForm(betForm.$valid)" novalidate>
            <div class="help-block has-error" ng-if="errorText != null">
                <h3>There was as error: {{errorText}}</h3>
            </div>

            <div class="form-group">
                <label>Name: {{betinfo.name}}</label>
                <google-signin-button button-id="google-signin" options="options" "></google-signin-button>
            </div>

            <div class="form-group" ng-class="{ 'has-error': betForm.name.$touched && betForm.name.$invalid }">
                <label>Alias</label>
                <input class="form-control" type="text" name="alias" ng-model="betinfo.alias" ng-maxlength="20" />
                <div class="help-block" ng-messages="betForm.alias.$error">
                    <p ng-message="maxlength">Name/Alias is too long (20 char max)</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': betForm.winner.$touched && betForm.winner.$invalid }">
                <label>Who's going to win?</label>
                <div>
                    <label><input type="radio" name="winner" value="tim" required ng-model="betinfo.winner" />Tim</label>
                    <label><input type="radio" name="winner" value="trolley" required ng-model="betinfo.winner" />Trolley</label>
                    <div class="help-block" ng-messages="betForm.winner.$error">
                        <p ng-message="required">Please select a winner</p>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': betForm.comments.$touched && betForm.comments.$invalid }">
                <label>Comments</label>
                <textarea class="form-control" name="comments" rows="4" ng-model="betinfo.comments" ng-maxlength="300" />
                <div class="help-block" ng-messages="betForm.comments.$error">
                    <p ng-message="maxlength">Comment is too long (300 char max)</p>
                </div>
            </div>

            <button type="submit" name="Submit" class="btn btn-warning" ng-disabled="betForm.$invalid">
                Add Outcome
            </button>
            <a href="#!/results/2016" class="btn btn-danger">Cancel</a>
        </form>
    </common-panel>
</div>